#navlist {
    position: relative;
}

#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

#navlist li, #navlist a {
    height: 44px;
    display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#ffffff;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border: 1px solid #4CAF50;
}

li {
    list-style-type: none;
    float:left;
}
li a {
    list-style-type: none;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 1em;
}

li a.active {
    list-style-type: none;
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
list-style-type: none;
    background-color: #555;
    color: white;
}

body{
background-image: url(../img/favicon.png); 
background-position : center; 
background-repeat : no-repeat; 
background-attachment : fixed;
width:99%;
}

#verdecentrado{
text-align:center; 
color:#4CAF50;
font-weight: bold;
}

#verde{
color:#4CAF50;
}

.field{
background-color: #4CAF50;
border: 2px solid #4CAF50;
color:white;
padding: 5px;
border-radius: 1em;
font-weight: bold;
font-size: 15px;
}

#formCont{
width:95%;height:90%; 
padding: 1em;
border: 1px solid #4CAF50;
border-radius: 1em;
}

divlogo {
    background-color: white;
    margin: auto;
    width: 60%;
    padding: 25px;
    display: block;
    
}
h2{
    text-align: center;
    color:rgb(17, 85, 11);
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
}
img{
    display:block;
    margin:auto;
    }
    h3 { 
    font-size: 165%;
    line-height: 155%;
    font-weight: 500;
    color: #524c56;
    text-align: center;
    text-transform: uppercase;
    color: #b84e64;
    font-weight: bold;
    
}
p {
    color: #524c56;
    font-size: 125%;
    line-height: 180%; /*Espacio entre lineas*/ 
    text-indent: 3%;
    text-align: justify;
    padding: 16px;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }
  contenedor-slider{
     height: 60%;
     width: 100%; 
    
  }
  pie {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
  }

